body {
  background-color: black;
  border-radius: 15% 15% 0% 0%;
}

.question {
  background-color: #0000ff;
  color: white;
  text-align: center;
  height: 20vw;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5%;
  font-size: 2vw;
  font-family: verdana;
  border-radius: 15% 15% 0% 0%;
}

.guess-div .guess{
  margin: 1% 15% 5% 15%;
  background-color: #00ff00;
  width: 70%;
  border-radius: 25%;
  text-align: center;
}
.new-game{
    background-color: #00ff00;
    margin: 1% 15% 5% 15%;
    width: 70%;
    border: none;
    color: white;
    padding: 2% 10% 2% 10%;
    border-radius:
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: Black;
  width: 50%;
  margin: 0 auto;
  align-items: center;
}

.list .answer {
  text-align: center;
  line-height: 75px;
  font-size: 2vw;
}
.top-tri {
  border-bottom: 100px solid #00ff00;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  margin-bottom: 5%;
  border-radius: 13%;

}
.q1{
  border-bottom: 100px solid #8000ff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100px;
}
.q2{
  border-top: 1px solid white;
  border-bottom: 100px solid #8000ff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 150px;
}
.q3{
  border-top: 1px solid white;
  border-bottom: 100px solid #8000ff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 200px;
}
.q4{
  border-top: 1px solid white;
  border-bottom: 100px solid #8000ff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 250px;
}
.q5{
  border-top: 1px solid white;
  border-bottom: 100px solid #8000ff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 300px;
}.q6{
  border-top: 1px solid white;
  border-bottom: 100px solid #8000ff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 350px;
}.q7{
  border-top: 1px solid white;
  border-bottom: 100px solid #8000ff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 400px;
}.q8{
  border-top: 1px solid white;
  border-bottom: 100px solid #8000ff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 450px;
}.q9{
  border-top: 1px solid white;
  border-bottom: 100px solid #8000ff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 500px;
}.q10{
  border-top: 1px solid white;
  border-bottom: 100px solid #8000ff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 550px;
}
.correct{
  border-bottom: 100px solid #00ff00;
}
.check{
  border-bottom: 100px solid red;
}
